<section class="card">
    <div class="card-body" style="position: relative;">
        <h1> Acerca de mi</h1>
        <img class="perfilphoto" src="https://pbs.twimg.com/profile_images/1621220732519829504/TVBqlZVH_400x400.jpg">

        <p> <br> Hola, mi nombre es Jhon Meza y soy un desarrollador front y backend, estudiante de quinto semestre
            de Ingenieria en Software y un entusiasta del desarrollo.</p>

        <p>Me apasiona programar, y en mi tiempo libre disfruto estudiar nuevas tecnologias.</p>
        <p>Este sitio es un lugar donde puedo compartir mis conocimientos de JS, CSS y MongoDB.</p>

    </div>

</section>