<div class="card rounded">
    <div class="card-body">
        <ul>
            <h1>Caracteristicas de la página</h1>
            <li>Podemos registrarnos con nuestro correo y mantener nuestra sesion iniciada</li>
            <li>Al momento de logearse podemos crear notas y cada usuario tiene su nota individual</li>
            <li>Ya teniendo la nota podemos hacer el CRUD en la nota</li>

            <h1>Proximas Caracteristicas</h1>
            uwu
        </ul>
    </div>
</div>
