<div class="jumbotron mt-4">

  <h1 class="display-4">Notes EPN <br> With Node.js and MongoDB</h1>
  <p class="lead">Dev Jhon Meza</p>
  <hr class="my-4">
  <p>Este es mi primero precto desarrollado como freelancer.
    </br> Para este proyecto se ocupo nodejs y mongodb ademas de tener unas buenas practicas de programacion </p>

  <a href="https://www.facebook.com/jhon.meza.902/" class="btn btn-primary">JhonWeb</a>


</div>