<div class="jumbotron mt-4">

  <h1 class="display-4">Notes EPN //With Node.js and MongoDB</h1>
  <p class="lead">seguimos con el texto</p>
<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quae animi rerum, dignissimos laboriosam nesciunt et voluptas nam aliquam necessitatibus repellendus exercitationem soluta atque ipsa illum neque laudantium odio ullam?</p>

<a href="https://www.facebook.com/jhon.meza.902/" class="btn btn-primary" >JhonWeb</a>


</div>
