
<section class="vh-100" >
  <div class="container py-5 h-100" style="border-radius: 20px; background-color: white;">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="/users/signin" method="post">
            
            <p class="text-center h2 fw-bold ">Iniciar Sesión</p>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" name="email" placeholder="Email"  class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13">Direccion de Correo</label>
          </div>

          <!-- Password input -->
          <div class="form-outline" style="margin-bottom: 0px;">
            <input type="password" name="password" placeholder="Contraseña" class="form-control form-control-lg"  />
            <label class="form-label">Password</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar</button>

        </form>
      </div>
    </div>
  </div>
</section>